<p-toolbar [style]="{ 'border-radius': '0rem', padding: '1REM 17rem' }">
  <ng-template #start>
    <div class="flex items-center" style="gap: 0.5rem">
      <h2>LOGO</h2>
    </div>
  </ng-template>

  <ng-template #center>
    <div class="flex items-center" style="gap: 0.5rem">
      <a
        pButton
        routerLink="/subjects"
        routerLinkActive="active-link"
        class="p-button-text custom-colored-button"
      >
        Home
      </a>
      <a
        pButton
        routerLink="/history"
        routerLinkActive="active-link"
        class="p-button-text custom-colored-button"
      >
        History
      </a>
    </div>
  </ng-template>

  <ng-template #end>
    <div class="flex items-center" style="gap: 1rem">
      <div>
        <p-tieredmenu #menu [model]="items" [popup]="true" />

        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
          [style]="{ width: '42px', height: '42px' }"
          (click)="menu.toggle($event)"
        />
      </div>
      <div style="position: relative">
        @if (notificationVisible) {
        <div #notificationBox class="notification">
          @for (item of items2; track $index) {
          <div [ngClass]="{ red: item.isRead }" class="notification-item flex justify-between">
            <span>
              {{ item.message }}
            </span>
            <span>
              {{ item.createdAt | date : "short" }}
            </span>
          </div>
          @if (!$last) {
          <div class="divider"></div>
          <!-- <p-divider />  -->
          } }@empty {
          <div class="notification-item">No Notifications</div>
          }
        </div>
        }
        <button
          pButton
          size="large"
          icon="pi pi-bell"
          badgeSeverity="contrast"
          styleClass="m-0"
          [outlined]="true"
          (click)="viewNotifcation()"
        >
          <p-badge size="small" [value]="counter"></p-badge>
        </button>
      </div>
    </div>
  </ng-template>
</p-toolbar>
