<div class="flex" style="padding: 4rem 0">
  <img src="../../../assets/left.svg" style="width: 50%" alt="" />

  <div style="padding: 0 2rem">
    <h2 style="font-size: 3rem; color: rgb(43, 46, 43)">
      Ready for your <br />
      Next <span style="color: #1625a7">Exam</span>
    </h2>

    <p style="color: rgb(76, 76, 76); margin-top: 1rem">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit nesciunt
      praesentium iste maxime delectus impedit nobis nisi odio ipsa iure.
    </p>

    <a
      pButton
      icon="pi pi-arrow-left"
      routerLink="/subjects"
      style="
        text-decoration: none;
        margin-top: 1rem;
        font-weight: bold;
        background-color: #1625a7be;
        color: #fff;
      "
    >
      Explore Ready Exams
    </a>
  </div>
</div>
