

.subjects-container {
    /* margin-top: 2rem; */
    background-color: rgb(45, 45, 53);
    padding: 1rem ;
    border-radius: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.5rem;
    
}

.subjects-page {
    display: flex;
    align-items: start;
    gap: 5rem;
}

.controls {
    background-color: rgb(212, 212, 212);
    padding: 1rem;
    width: 30%;
    border-radius: 10px;
}

.border-0 {
    border-radius: 0 !important ;
}